@import url("https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900");
* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  background-color: #0f111c;
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  text-decoration: none;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 70%;
  margin: 25px auto;
}

.navbar div:first-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar div:first-child h1 {
  font-size: 2em;
}

.navbar div:first-child a {
  text-decoration: none;
  color: white;
  -webkit-transition: 200ms;
  transition: 200ms;
}

.navbar div:first-child a:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.navbar img {
  height: 70px;
  margin-right: 20px;
}

.navbar ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar ul li {
  margin-left: 10px;
  font-weight: 500;
  font-size: 1.2em;
  -webkit-transition: 200ms;
  transition: 200ms;
}

.navbar ul li:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.navbar ul li a {
  text-decoration: none;
  color: white;
}

.navbar ul li img {
  height: 38px;
  border-radius: 50%;
}

#home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
}

#home div {
  margin-left: 100px;
  margin-bottom: 100px;
  width: 40%;
}

#home div h1 {
  font-size: 3.5em;
  text-transform: uppercase;
}

#home div p {
  width: 60%;
}

#home .logo {
  height: 400px;
}

#recipePage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 70%;
  margin: 0 auto;
}

#recipePage .recipe-card {
  width: 350px;
  margin: 50px;
  overflow: hidden;
}

#recipePage .recipe-card .thumb {
  height: 200px;
}

#recipePage .recipe-card .thumb img {
  width: 100%;
  height: 100%;
}

#recipePage .recipe-card .content {
  background-color: #20253c;
  border-bottom: 3px solid #11bb8d;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 18px 25px 10px 10px;
  -webkit-box-shadow: 0px 10px 5px rgba(46, 187, 161, 0.05);
          box-shadow: 0px 10px 5px rgba(46, 187, 161, 0.05);
}

#recipePage .recipe-card .content .header {
  width: 100%;
}

#recipePage .recipe-card .content ul {
  margin: 15px 0;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#recipePage .recipe-card .content ul li i:first-child {
  margin-right: 5px;
  font-weight: 500;
  font-size: 1.2em;
}

#recipePage .recipe-card .content ul li span {
  font-weight: 500;
  font-size: 1.2em;
}

#recipePage .recipe-card .content .content__footer {
  margin: 10px 0;
  width: 60%;
}

.recipeBtn {
  background-image: linear-gradient(144deg, #7cbc55, #11bb8d 50%, #00ddeb);
  font-size: 20px;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 15px;
  text-decoration: none;
  font-weight: 500;
  -webkit-transition: 200ms;
  transition: 200ms;
}

.recipeBtn:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.linkBtn {
  margin: 20px 0;
  width: 10%;
  display: block;
  background-image: linear-gradient(144deg, #7cbc55, #11bb8d 50%, #00ddeb);
  border: 0;
  -webkit-box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
          box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  color: #ffffff;
  font-size: 20px;
  line-height: 1em;
  font-weight: 600;
  max-width: 100%;
  min-width: 140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 19px 24px;
  text-decoration: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
  -webkit-transition: 200ms;
  transition: 200ms;
}

.linkBtn:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}
/*# sourceMappingURL=style.css.map */