@import url("https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

$primary-color: #11bb8d;
$active: #126f56;
$main-gradient: linear-gradient(144deg, #7cbc55, #11bb8d 50%, #00ddeb);
$content-bg: #20253c;
$main-bg: #0f111c;
$shadow: 0px 10px 5px rgba(46, 187, 161, 0.05);

body {
  background-color: $main-bg;
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  text-decoration: none;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  margin: 25px auto;

  div:first-child {
    display: flex;
    align-items: center;

    h1 {
      font-size: 2em;
    }

    a {
      text-decoration: none;
      color: white;
      transition: 200ms;

      &:hover {
        transform: scale(1.02);
      }
    }
  }

  img {
    height: 70px;
    margin-right: 20px;
  }

  ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    li {
      margin-left: 15px;
      font-weight: 500;
      font-size: 1.2em;
      transition: 200ms;

      .recipeBtn {
        background: $primary-color;
        font-weight: 700;
      }

      a {
        text-decoration: none;
        color: white;
        font-size: inherit;
      }

      &:hover {
        transform: scale(1.08);
        a,
        button {
          color: $primary-color;
        }

        .recipeBtn {
          color: white;
          transform: scale(0.95);
        }
      }

      button {
        background: none;
        color: white;
        border: none;
        font-weight: 500;
        font-size: inherit;
        margin: 0 20px;
        cursor: pointer;
      }

      img {
        height: 40px;
        width: 40px;
        border-radius: 50%;
        border: 3px solid #11bb8d;
      }
    }
  }
}

#home {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  div {
    margin-left: 100px;
    margin-bottom: 100px;
    width: 40%;

    h1 {
      font-size: 3.5em;
      text-transform: uppercase;
    }

    p {
      width: 60%;
    }
  }

  .logo {
    height: 400px;
  }
}

#recipesPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 72%;
  margin: 40px auto;

  .search-form {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    form {
      background: $content-bg;
      border-radius: 50px;

      input {
        padding: 15px 23px;
        font-size: 14px;
        border: none;
        float: left;
        width: 80%;
        background: transparent;
        color: white;
        font-family: "Montserrat", sans-serif !important;

        &:focus {
          outline: none;
        }
      }

      button {
        float: left;
        width: 20%;
        padding: 5px 4px 3px 15px;
        background: transparent;
        color: white;
        font-size: 17px;
        border: none;
        cursor: pointer;

        i {
          padding: 12px;
          background: $primary-color;
          border-radius: 29px;
          color: #fff;
          font-size: 14px;
          transition: 200ms;
          &:hover {
            transform: scale(1.1);
          }
        }
      }
    }
  }

  .recipes {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 auto;
  }
}

.recipe-card {
  width: 350px;
  margin: 50px;
  overflow: hidden;

  .thumb {
    height: 200px;
    img {
      border-top-left-radius: 14px;
      border-top-right-radius: 14px;
      width: 100%;
      height: 100%;
    }
  }

  .content {
    background-color: $content-bg;
    border-bottom: 3px solid $primary-color;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 18px 25px 10px 18px;
    box-shadow: $shadow;
    .header {
      width: 100%;
    }

    ul {
      margin: 15px 0;
      list-style-type: none;
      display: flex;
      justify-content: space-around;
      align-items: center;
      li {
        i:first-child {
          margin-right: 5px;
          font-weight: 300;
          font-size: 1.2em;
        }

        p {
          font-weight: 300;
        }

        span {
          font-weight: 400;
          font-size: 1.2em;
        }
      }
    }

    .content__footer {
      margin: 10px 0;
      width: 100%;
      display: flex;
      justify-content: center;
      .actions {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 58%;
        margin: 0 auto;
      }

      .recipeBtn {
        width: 60%;
      }
    }
  }
}

#formPage {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px !important;
  width: 25%;
  margin: 0 auto;
}

#recipePage {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 70%;
  flex-wrap: nowrap;
  margin: 20px auto;
  .form-container {
    width: 35% !important;

    .field {
      height: 46px;
    }
  }
}

.form-container {
  width: 100%;
  background: $content-bg;
  overflow: hidden;
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.1);
  border-bottom: 3px solid $primary-color;
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;

  .linkBtn {
    width: 100%;
    background: $primary-color !important;
    margin: 30px 0;
    &:hover {
      transform: scale(1.02);
    }
  }

  .title {
    font-size: 2.2em;
    font-weight: bold;
    text-align: center;
    padding: 0.7em 0;
    color: #fff;
    user-select: none;
    background: linear-gradient(144deg, #7cbc55, #11bb8d 50%, #00ddeb);
  }

  .options {
    color: white;
    font-weight: 400;
    text-align: center;
    margin: 20px 0;
    a {
      text-decoration: none;
      border: none;
      background: none;
      color: $primary-color;
      font-weight: 500;
      font-size: 1.1em;
      padding-bottom: 5px;
      cursor: pointer;

      &:hover{
        border-bottom: 1px solid $primary-color;
      }
    }
  }

  form {
    padding: 20px 30px 5px 30px;
  }

  .recipeCategory {
    margin-top: 20px;
    label {
      color: $primary-color;
      padding-left: 5px;
    }
    select {
      width: 100%;
      margin-bottom: 30px;
      margin-top: 5px;
      height: 50px;
      border: none;
      padding: 0 10px;
      border-radius: 14px;
      background-color: $main-bg;
      color: white;
    }
  }

  #instructionLbl {
    color: $primary-color;
    padding-left: 5px;
  }

  #instruction {
    margin-top: 5px;
    height: 100%;
    width: 100%;
    outline: none;
    font-size: 17px;
    padding: 10px 20px;
    border: none;
    background-color: $main-bg;
    transition: 200ms;
    resize: vertical;
    border-radius: 14px;
    color: white;
    font-family: inherit;

    
  }

  .ingDiv {
    margin: 20px 0;

    &.success {
      input,
      textarea {
        border-bottom:2px solid $primary-color;
        border-left :2px solid $primary-color;
      }

      &:not(:placeholder-shown) label {
        color: #52ff69;
      }
    }

    &.error {
      input,
      textarea {
        border-bottom:2px solid #ff4747;
        border-left :2px solid #ff4747;
      }

      &:not(:placeholder-shown) label {
        color: #ff4747 !important;
      }
    }

    .error {
      transition: 200ms;
      padding-top: 5px;
      padding-left: 20px;
      color: #ff4747;
    }

    label {
      color: $primary-color;
    }
  }

  .textarea-fld{
    margin-top: 30px;

    &.success {
      input,
      textarea {
        border-bottom:2px solid $primary-color;
        border-left :2px solid $primary-color;
      }

      &:not(:placeholder-shown) label {
        color: #52ff69;
      }
    }

    &.error {
      input,
      textarea {
        border-bottom:2px solid #ff4747;
        border-left :2px solid #ff4747;
      }

      &:not(:placeholder-shown) label {
        color: #ff4747 !important;
      }
    }

    .error {
      transition: 200ms;
      padding-top: 5px;
      padding-left: 20px;
      color: #ff4747;
    }

  }
  #ingredients {
    width: 100%;
    margin-top: 5px;
    height: 150px;
    background-color: $main-bg;
    color: white;
    border: none;
    padding: 0 10px;
    border-radius: 14px;

    
  }

  .selectedIng {
    color: #262626;

    div {
      display: flex;
      flex-wrap: wrap;

      button {
        color: white;
        border: none;
        background: $primary-color;
        border-radius: 14px;
        font-weight: 500;
        font-size: 1.1em;
        padding: 5px 10px;
        margin: 0 5px 5px 0;
        font-family: inherit;
      }
    }
  }

  .field {
    height: 50px;
    width: 98%;
    margin-top: 34px;
    position: relative;

    &:first-child {
      margin-top: 0;
      margin-top: 20px;
    }

    input,
    textarea {
      color: white;
      height: 100%;
      width: 100%;
      outline: none;
      font-size: 17px;
      padding: 0 20px;
      border: none;
      background-color: $main-bg;
      transition: 200ms;
      border-radius: 50px;
      &:focus {
        border-color: $active;
      }

      &:focus ~ label,
      &:not(:placeholder-shown) ~ label {
        top: 0%;
        font-size: 16px;
        color: $primary-color;
        transform: translateY(-50%);
      }
    }

    &.success {
      input,
      textarea {
        border-bottom:2px solid $primary-color;
        border-left :2px solid $primary-color;
      }

      &:not(:placeholder-shown) label {
        color: #52ff69;
      }
    }

    &.error {
      input,
      textarea {
        border-bottom:2px solid #ff4747;
        border-left :2px solid #ff4747;
      }

      &:not(:placeholder-shown) label {
        color: #ff4747 !important;
      }
    }

    .error {
      transition: 200ms;
      padding-top: 5px;
      padding-left: 20px;
      color: #ff4747;
    }

    label {
      position: absolute;
      top: 50%;
      left: 20px;
      color: #999999;
      font-weight: 400;
      font-size: 17px;
      pointer-events: none;
      transform: translateY(-50%);
      transition: all 0.3s ease;
    }
  }

  .textarea-field {
    height: 130px !important;

    textarea {
      font-family: "Montserrat", sans-serif !important;
      resize: none;
      padding: 20px;
    }
  }

  .image-field {
    color: #262626;
    height: 62px !important;
    margin-bottom: 20px !important;
    input {
      padding: 17px 22px !important;
    }
  }

  .content {
    margin: 2em 0;
    padding: 0 10px;
    display: flex;
    width: 100%;
    font-size: 1em;
    align-items: center;
    justify-content: flex-start;

    input {
      width: 15px;
      height: 15px;
      background: red;
    }

    label {
      color: #262626;
      user-select: none;
      padding-left: 5px;
    }
  }
}

.recipeBtn {
  background-image: $main-gradient;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 15px;
  text-decoration: none;
  font-weight: 600;
  border-radius: 12px;
  transition: 200ms;
  width: 100%;

  &:hover {
    transform: scale(1.05);
  }
}

.linkBtn {
  border-radius: 14px;
  margin: 20px 0;
  width: 10%;
  display: block;
  background-image: $main-gradient;
  border: 0;
  box-shadow: rgba(54, 226, 114, 0.2) 0 15px 30px -5px;
  color: #ffffff;
  font-size: 20px;
  line-height: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 27%;
  font-weight: 600;
  padding: 19px 24px;
  text-decoration: none;
  user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
  transition: 200ms;
  font-family: "Montserrat", sans-serif;

  &:hover {
    transform: scale(1.05);
  }
}

.single-recipe {
  display: flex;
  justify-content: space-around;
  width: 70%;
  margin: 80px auto;

  & > div:first-child {
    width: 16%;

    .title {
      font-size: 1.3em;
      font-weight: bold;
      text-align: center;
      padding: 0.5em 0.4em;
      color: #fff;
      user-select: none;
      background: linear-gradient(144deg, #7cbc55, #11bb8d 50%, #00ddeb);
      width: 100%;
    }
    .author {
      width: 100%;
      background-color: $content-bg;
      border-radius: 14px;
      overflow: hidden;
      margin-bottom: 50px;

      div {
        height: fit-content;
        padding: 15px 20px;
        flex-direction: column;
        display: flex;
        justify-content: center;
        align-items: center;
        h1 {
          font-size: 1.4em;
          font-weight: 600;
        }
        img {
          height: 50px;
          border-radius: 50%;
        }
      }
    }

    .ingredients {
      background-color: $content-bg;
      border-radius: 14px;
      overflow: hidden;
      margin-bottom: 50px;
      div {
        height: fit-content;
        padding: 15px 20px;

        p {
          text-align: center;
          margin: 5px 0;
        }
      }
    }

    .rate {
      background-color: $content-bg;
      border-radius: 14px;
      overflow: hidden;
      margin-bottom: 50px;

      div {
        padding: 25px 20px;
        flex-direction: column;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }

  .content {
    width: 60%;
    background-color: $content-bg;
    border-bottom: 3px solid $primary-color;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
    overflow: hidden;

    .thumbnail {
      padding: 0 !important;
      position: relative;
      img {
        width: 100%;
        user-select: none;
      }

      div {
        background-color: $main-bg;
        border-top-left-radius: 25%;
        border-bottom-left-radius: 25%;
        position: absolute;
        top: 29px;
        right: -6px;
      }
    }

    & > div {
      padding: 25px 35px;
    }

    h2 {
      margin-bottom: 10px;
    }

    ul {
      margin: 25px 0;
      list-style-type: none;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      li {
        margin-right: 30px;
        i:first-child {
          margin-right: 5px;
          font-weight: 300;
          font-size: 1.2em;
        }

        p {
          font-weight: 500;
        }

        span {
          font-weight: 500;
          font-size: 1.2em;
        }
      }
    }
  }
}

.comments {
  div {
    form {
      display: flex;
      align-items: center;
      justify-content: space-between;
      textarea {
        width: 75%;
        resize: vertical;
        border: none;
        border-radius: 14px;
        font-family: "Montserrat", sans-serif;
        padding: 10px;
        color: white;
        background-color: $main-bg;

        &:focus {
          outline: #11bb8d;
        }
      }

      .linkBtn {
        width: 20%;
      }
    }
  }

  .comment {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;

    h3 {
      transition: 150ms;

      &:hover {
        transform: scale(1.05);
      }
    }
    a {
      text-decoration: none;
      color: #11bb8d;
      font-weight: 500;
    }

    .actions {
      display: flex;
      align-items: center;

      button {
        background-color: #d61717;
        border: none;
        border-radius: 50%;
        padding: 10px;
        margin-left: 10px;
        cursor: pointer;
        transition: 200ms;
        &:hover {
          transform: scale(1.1);
        }
      }
      i {
        color: white;
        font-size: 1.5em;
      }
    }
  }
}

.passwordBtn {
  background-color: rgb(217, 92, 255);
  border: none;
  border-radius: 14px;
  font-size: 1.2em;
  font-weight: 600;
  padding: 7px 12px;
  transition: 200ms;
  &:hover {
    transform: scale(1.05);
  }

  text-decoration: none;
  color: white;
}

.editBtn {
  background-color: #11bb8d;
  border: none;
  border-radius: 14px;
  font-size: 1.2em;
  font-weight: 600;
  padding: 7px 12px;
  transition: 200ms;
  &:hover {
    transform: scale(1.1);
  }

  text-decoration: none;
  color: white;
}

.deleteBtn {
  background-color: #d61717;
  border: none;
  border-radius: 14px;
  font-size: 1.2em;
  font-weight: 600;
  padding: 7px 12px;
  color: white;
  font-family: inherit;
  transition: 200ms;
  cursor: pointer;

  &:hover {
    transform: scale(1.1);
  }
}

#userPage {
  display: flex;
  width: 70%;
  margin: 100px auto;
  justify-content: space-between;

  .userCard {
    background-color: $content-bg;
    overflow: hidden;
    height: 35%;
    width: 250px;
    border-bottom: 3px solid $primary-color;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;

    img {
      width: 100%;
      height: 250px;
    }

    .info {
      padding: 10px 20px;
      text-align: center;
    }

    .actions {
      padding-bottom: 20px;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      width: 100%;
      margin: 0 auto;

      .editBtn {
        margin-right: 15px;
      }
      .passwordBtn {
        margin-top: 15px;
      }
    }
  }

  .recipes {
    width: 70%;
    text-align: center;

    .content {
      display: flex;
      flex-wrap: wrap;
    }
  }
}

hr {
  background: none;
  opacity: 0;
}
.red {
  color: #d61717;
}

.green {
  color: #43c755;
}

.yellow {
  color: rgb(255, 213, 47);
}

.orange {
  color: rgb(238, 158, 67);
}

.blue {
  color: rgb(43, 184, 227);
}

.purple {
  color: rgb(217, 92, 255);
}

//Preloader
#preloader {
  background: $main-bg;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999999;
  width: 100%;
  height: 100%;
  transition: 200ms;

  #loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: rgba($color: $active, $alpha: 1);
    animation: spin 2s linear infinite;

    &:before {
      content: "";
      position: absolute;
      top: 5px;
      left: 5px;
      right: 5px;
      bottom: 5px;
      border-radius: 50%;
      border: 3px solid transparent;
      border-top-color: rgba($color: #586fe6, $alpha: 1);
      animation: spin 3s linear infinite;
    }

    &:after {
      content: "";
      position: absolute;
      top: 15px;
      left: 15px;
      right: 15px;
      bottom: 15px;
      border-radius: 50%;
      border: 3px solid transparent;
      border-top-color: white;
      animation: spin 1.5s linear infinite;
    }
  }
}

.hidden {
  opacity: 0;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.page-not-found{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
  font-size: 3em;
  font-weight: 700;
}
